<div class="question-text">
  <%= @question.question_text %>
  <% unless @question.image.nil? %>
      <%= image_tag url_for(:controller => "questions", :action => "show_image", :id => @question.id), class: 'question-image', alt: @question.lo_id+' Obrázok' %>
  <% end %>
</div>
<form method="post" action="<%= request.original_url %>/evaluate_answers" id="question-form-<%= @question.type.downcase %>" class="question-form" data-remote>
  <input type="hidden" name="type" value="<%= @question.type %>">
  <div id="question-options">
    <% case @question.type
         when 'SingleChoiceQuestion' %>
        <%= render 'questions/single_choice_options' %>
    <% when 'MultiChoiceQuestion' %>
        <%= render 'questions/multi_choice_options' %>
    <% when 'EvaluatorQuestion' %>
        <%= render 'questions/evaluator_slider' %>
    <% end %>
  </div>
  <%= render 'questions/question_options' unless defined?(hide_question_options) %>
</form>