<div id="faux-background" class="mobile-content"></div>
  <%= render 'nav' %>
<hr class="nav-offset not-zoomable">
<div class="question-name not-zoomable">
  <div class="mobile-content">
  <h2><%= @question.lo_id %></h2>
  </div>
</div>
<%= render 'eval_info' %>
<div class="mobile-content main">

  <%= render 'question_info' %>
  <%= render 'question_core' %>
      <div id="question-feedback">
      <h3>Komentáre</h3>
      <% unless @feedbacks.empty? %>
      <% @feedbacks.order(created_at: :desc).each do |f| %>
            <div class="question-feedback-message">
                <div class="question-feedback-meta">
                  <% if f.accepted %>
                  <span class="question-feedback-solved"><i class="icon-checkbox-checked"></i> <%= t('feedbacks.label.solved') %></span>
                  <% end %>
                  <span class="question-feedback-name"><%= f.user.first_name %> <%= f.user.last_name %></span>
                  <span class="bull">&bull;</span>
                  <span class="question-feedback-time livestamp" data-toggle="tooltip" title="<%= format_time(f.created_at) %>" data-timestamp="<%= f.created_at.to_time %>"><%= format_time(f.created_at) %></span>
                </div>
                <%= f.message %>
            </div>
      <% end %>
        <div id="question-feedback-warning">Komentáre Vám budú zobrazené, až keď odpoviete na otázku.</div>
      <% else %>
            Táto otázka ešte nemá komentár.
      <% end %>
      </div>
</div>



