<%
    start_at = @setup.first_week_at.to_date + @week.number * 7
    end_at = start_at + 6
%>
<div class="nav-info mobile-content">
  <%= start_at.strftime("%d.%-m.")  %> - <%= end_at.strftime("%d.%-m.%Y")  %>
  <div class="week-progressbar" data-number-all="<%= @lo_number_all %>" data-number-done="<%= @lo_number_done %>">
    <div class="progressbar-caption"></div>
  </div>
  <div id="week-toggle" class="toggle">
    <div class="toggle-caption">Režim
    </div>
    <div class="toggle-item-list">
      <div class="toggle-item <%= 'active' unless current_user.show_solutions %>" id="week-toggle-testing">
        Testovanie
      </div><div class="toggle-item <%= 'active' if current_user.show_solutions %>" id="week-toggle-learning">
        Učenie
      </div>
    </div>
    <div class="toggle-caption">
      <i class="icon-help toggle-help-btn"></i>
    </div>
    <div class="toggle-help" id="week-toggle-help">
      V režime <strong>Testovanie</strong> sa môžete otestovať riešením otázok. V režime <strong>Učenie</strong> sa Vám okamžite zobrazia otázky aj so správnymi odpovedami.
    </div>
  </div>
</div>
