<%
    start_at = @setup.first_week_at.to_date + @week.number * 7
    end_at = start_at + 6
%>
<div class="nav-info mobile-content">
  <%= start_at.strftime("%d.%-m.")  %> - <%= end_at.strftime("%d.%-m.%Y")  %>
  <div class="week-progressbar" data-number-all="<%= @week.question_count %>" data-number-done="<%= @week.question_count_done current_user.id %>">
    <div class="progressbar-caption"></div>
  </div>
  <div id="week-toggles">
    Zobrazovenie odpovedí:
    <span id="toggle-show-solutions" <%=raw 'style="display: none"' if @user.show_solutions %>>
      <i class="icon-toggle-off"></i> Vypnuté
    </span>
    <span id="toggle-dont-show-solutions" <%=raw 'style="display: none"' unless @user.show_solutions %>>
      <i class="icon-toggle-on"></i> Zapnuté
    </span>
  </div>
</div>