<div id="faux-background" class="mobile-content"></div>
<%= render 'nav' %>
<hr class="nav-offset not-zoomable">

<%= render 'week_info'%>



<div class="mobile-content main">
  <% @rooms.each do |r|

  %>
          <a href="<%=
              url_for controller: 'rooms', action: 'show', room_number: r.id, week_number: @week_number
          %>" class="card ">
            <h3 class="card-header"><%= r.name %><%= '(otvorena)' if r.otvorena? %></h3>
            <% if r.question_count > 0 %>
                <div class="week-progressbar" data-number-all="<%= r.question_count %>" data-number-done="<%= r.question_count_done @user.id %>">
                  <div class="progressbar-caption"></div>
                </div>
            <% else %>
                Žiadne otázky
            <% end %>
          </a>
      <% end
    %>
</div>

