<nav>
  <div class="admin-nav">
    <h2><%= t('admin.questions.labels.new_lo') %></h2>
    <%= link_to "#{fa_icon('chevron-left')} #{t('admin.questions.links.back_to_management')}".html_safe,
                admin_learning_objects_path(course: @course.id), class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="container">

  <%= form_for @learning_object, url: admin_learning_objects_path(course: @course), method: :post do |f| %>

    <div class="form-group admin">

      <h3><%= t('admin.questions.labels.new_lo') %></h3>

      <dl class="dl-horizontal">
        <dt><%= f.label :lo_id, t('activerecord.attributes.learning_object.lo_id') %></dt>
        <dd>
          <%= f.text_field :lo_id, class: "question_text_field", required: true %>
          <%= f.errors :lo_id %>
        </dd>

        <dt><%= f.label :question_text, t('activerecord.attributes.learning_object.question_text') %></dt>
        <dd>
          <%= f.text_area :question_text, class: "question_text_field", required: true %>
          <%= f.errors :question_text %>
        </dd>

        <dt><%= f.label :type, t('activerecord.attributes.learning_object.type') %></dt>
        <dd>
          <%= f.select :type, options_for_select(LearningObject::TYPE.map { |key, type|
          [t("admin.questions.labels.types.#{key}"), type]
            }, nil), prompt: t('global.labels.choose'), class: 'form-control', required: true %>
          <%= f.errors :type %>
        </dd>

        <dt><%= f.label t('activerecord.attributes.learning_object.difficulty') %></dt>
        <dd>
          <%= f.select :difficulty, options_for_select(LearningObject::DIFFICULTY.map { |id, difficulty|
          [t("admin.questions.labels.difficulties.#{difficulty}"), difficulty]
            }, nil), prompt: t('global.labels.choose'), class: 'form-control' %>
          <%= f.errors :difficulty %>
        </dd>

        <dt></dt>
        <dd>
          <%= submit_tag t('global.links.save_changes'), class: :btn, data: { disable_with: t('global.texts.saving') } %>
          <%= button_tag t('global.links.cancel'), class: :btn, type: :reset,
                         onclick: "location.href='#{admin_learning_objects_path(course: @course.id)}'" %>
        </dd>
      </dl>

    </div>

  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    // Zapnutie markdownu.
    new MarkdownPreview($('#learning_object_question_text'), {
      className: 'admin-markdown-textarea admin-markdown-edit-textarea',
      outerClassName: 'admin-markdown-preview'
    });
  });
</script>