<%= form_tag feedback_path, method: 'post', remote: true do %>
    <div id="contact">
      <div id="contact-text">
      Napíšte komentár<br>
      URL <%= request.original_url %>
      </div>
      <%= text_area_tag :message, '', id: 'contact-textarea' %>
      <div id="contact-button-field">
        <button id="contact-send-btn"><%= t('global.links.submit') %></button>
        <button id="contact-cancel-btn"><%= t('global.links.cancel') %></button>
      </div>
    </div>
<% end %>
<div id="user-element" class="not-zoomable">
  <div class="mobile-content">
    <div id="name"><%= current_user.full_name %></div>
    <% if can? :manage, :administration %>
        <%= link_to raw("<i class='icon-admin'></i>#{t('homescreen.links.admin')}"), administration_path, class: 'user-panel-button' %>
    <% end %>

    <a class="user-panel-button" id="contact-btn"><i class="icon-mail"></i><%= t('homescreen.links.feedback') %></a>
    <%= link_to raw("<i class='icon-logout'></i>#{t('homescreen.links.logout')}"), destroy_user_session_path, :method => :delete, class: 'user-panel-button' %>
  </div>
</div>
