<%= form_tag feedback_path, method: 'post', remote: true do %>
    <div id="contact">
      <%= text_area_tag :message, '', id: 'contact-textarea' %>
      <div id="contact-button-field">
        <button id="contact-send-btn">Odoslať</button>
        <button id="contact-cancel-btn">Zrušiť</button>
      </div>
    </div>
<% end %>
<div id="user-element" class="not-zoomable">
  <div class="mobile-content">
    <div id="name"><%= current_user.first_name + ' ' + current_user.last_name %></div>
    <% if can? :manage, :administration %>
        <%= link_to raw("<i class='icon-admin'></i>Administrácia"), administration_path, class: 'user-panel-button' %>
    <% end %>

    <a class="user-panel-button" id="contact-btn"><i class="icon-mail"></i>Spätná väzba</a>
    <%= link_to raw("<i class='icon-logout'></i>Odhlásiť"), destroy_user_session_path, :method => :delete, class: 'user-panel-button' %>
  </div>
</div>