<div id="faux-background" class="mobile-content"></div>
<%= render 'nav' %>
<hr class="nav-offset not-zoomable">



<div class="mobile-content main">

  <div id="question-options-evaluate">
    <div class="question-options-message"  id="question-evaluation-message"></div>
    <% if @score >= @score_limit %>
        <% if @room.state == "do_not_use" %>
            <% if @count_real <= @count_actual %>
                <div class="question-options-message" id="question-evaluation-next"><p style=" font-size:140%; ">gratulujeme</p><p>Úspešne ste vyriešili všetky testy v aktuálnom týždni!</p></div>
                <br><a href="<%=
                url_for :controller => 'weeks', :action => 'show'
                %>" class="question-button question-button-red" id="question-evaluation-next">Prejsť na týždeň</a>
            <% else %>
                <div class="question-options-message" id="question-evaluation-next"><p style=" font-size:140%; ">gratulujeme</p><p>Test ste úspešne vyriešili a môžete si otvoriť ďalší test!</p></div>
                <br><a href="<%=
                    url_for :controller => 'rooms', :action => 'new'
                %>" class="question-button question-button-red" id="question-evaluation-next">Otvor nový test</a>
            <% end %>
        <% else %>
            <% if @count_real <= @count_actual %>
                <div class="question-options-message" id="question-evaluation-next"><p style=" font-size:140%; ">gratulujeme</p><p>Úspešne ste vyriešili všetky testy v aktuálnom týždni!</p></div>
                <br><a href="<%=
                url_for :controller => 'weeks', :action => 'show'
                %>" class="question-button question-button-red" id="question-evaluation-next">Prejsť na týždeň</a>
            <% else %>
                <div class="question-options-message" id="question-evaluation-next"><p style=" font-size:140%; ">gratulujeme</p><p>Bohuziaľ, tento test ste už na otvorenie iného testu použili!</p></div>
                <a href="<%=
                    url_for :controller => 'rooms', :action => 'show', room_number: @room_for_open.id
                %>" class="question-button" id="question-error-button">Test na otvorenie</a>
            <% end %>

        <% end %>
    <% else %>
        <div class="question-options-message" id="question-evaluation-next"><p style=" font-size:140%; ">Je nám to ľúto</p><p>Bohužial ste nedosiahli potrebné skóre na úspešné vyriešenie testu!</p>
        <br><br> Vaše skóre: <%= @score.to_s%><br> Potrebné skóre: <%= @score_limit.to_s%>
        </div>

    <% end %>
  </div>
  <a href="<%=
      url_for :controller => 'rooms', :action => 'show'
  %>"  class="question-button" id="question-error-button" >Skúsiť znovu</a>


</div>
</div>
