<div id="faux-background" class="mobile-content"></div>
<%= render 'nav' %>
<hr class="nav-offset not-zoomable">



<div class="mobile-content main">

  <div id="question-options-evaluate">
    <div class="question-options-message"  id="question-evaluation-message"></div>
    <% if @score >= @value %>
        <% if @room.state == "do_not_use" %>
            <div class="question-options-message" id="question-evaluation-next"><br><br>gratulujeme<br>Mozete otvorit dlasiu miestnost!</div>
            <br><a href="<%=
                url_for :controller => 'rooms', :action => 'new'
            %>" class="question-button question-button-red" id="question-evaluation-next">Otvor novu miestnost</a>
        <% else %>
            <div class="question-options-message" id="question-evaluation-next"><br><br>gratulujeme<br>Bohuzial, tuto miestnost ste uz na otvorenie vyuzili!</div>
            <a href="<%=
                url_for :controller => 'rooms', :action => 'show'
            %>" class="question-button" id="question-error-button">Miestnost na otvorenie</a>

        <% end %>
    <% else %>
        <div class="question-options-message" id="question-evaluation-next"><br><br>Je nam to luto<br><br>Bohuzial, ste nedosiahli potrebne skore na otvorenie dalsej urovne!
        <br><br> Vase skore: <%= @score.to_i.to_s%><br> Potrebne skore: <%= @value.to_s%>
        </div>

    <% end %>
  </div>
  <a href="<%=
      url_for :controller => 'rooms', :action => 'show'
  %>" class="question-button" id="question-error-button" >Skusit znovu</a>


</div>
</div>
