<nav>
  <div class="admin-nav">
    <h2><%= @question.id %> : <%= @question.lo_id %></h2>
    <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="container">

  <div class="tabs">

    <ul id="editor-tabs" class="tablist" role="tablist">
      <li class="active"><a href="#" data-target="#question-settings" role="tab" id="question-tab" data-toggle="tab">Nastavenia otázky</a></li>
      <li><a href="#" data-target="#answer-settings" role="tab" id="answer-tab" data-toggle="tab">Odpovede</a></li>
      <li><a href="#" data-target="#feedbacks" role="tab" id="feedback-tab" data-toggle="tab">Spätná väzba<span id="feedback-not-reviewed-count"></span></a></li>
    </ul>

    <div id="editor-tabs-content" class="tab-content is-first">

      <div role="tabpanel" class="tab-pane active" id="question-settings">

        <%= form_tag "#{url_for(edit_question_path(:question_id => @question.id))}#question-settings", :method => :post do %>

            <div class="admin">

              <h3>Úprava otázky</h3> <br/>

              <%= label_tag "Názov otázky:" %>
              <%= text_field_tag :edit_question_name, @question.lo_id, class: "question_text_field", onchange: "Admin.checkAnwserAny(this, '#{@question.lo_id}');", onkeyup: "Admin.checkAnwserAny(this, '#{@question.lo_id}');" %>
              <div class="original-input-text"><strong>Pôvodná odpoveď:</strong> <%= @question.lo_id %> (<a href="#" onclick="$('#edit_question_name').val('<%= @question.lo_id %>').trigger('keyup');return false">obnoviť</a>)</div>
              <hr/>
              <%= label_tag "Text otázky:" %>
              <%= text_field_tag :edit_question_text, @question.question_text, class: "question_text_field", onchange: "Admin.checkAnwserAny(this, '#{@question.question_text}');", onkeyup: "Admin.checkAnwserAny(this, '#{@question.question_text}');" %>
              <div class="original-input-text"><strong>Pôvodná odpoveď:</strong> <%= @question.question_text %> (<a href="#" onclick="$('#edit_question_text').val('<%= @question.question_text %>').trigger('keyup');return false">obnoviť</a>)</div>

              <%= submit_tag "Uložiť zmeny", class: :btn, data: { disable_with: "prebieha ukladanie..." } %>
              <%= button_tag "Zrušiť zmeny", class: :btn, type: :reset %>

            </div>

        <% end %>

      </div>

      <div role="tabpanel" class="tab-pane" id="answer-settings">

        <div class="row">

          <div class="col-lg-12" id="answer-settings-col">

            <%= form_tag "#{url_for(edit_answers_path(:question_id => @question.id))}#answer-settings", :method => :post do %>

                <div class="admin">

                  <h3>Úprava odpovedí</h3>

                  <table class="answers-table">
                    <thead>
                    <tr>
                      <th class="answers-table-id">ID</th>
                      <th>Text odpovede</th>
                      <% unless @question.type == "EvaluatorQuestion" %><th class="answers-table-icon">Správnosť</th><% end %>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @question.answers.order('answers.id').each do |a|%>
                        <tr>
                          <td class="answers-table-id"><%= a.id %></td>
                          <td>
                            <% if a.learning_object.type == "EvaluatorQuestion" %>
                                <%= text_area_tag "edit_answer_text_#{a.id}", a.answer_text, class: "question-answer-area", onkeyup: "Admin.checkAnwserAny(this, '#{a.answer_text}');" %>
                            <% else %>
                                <%= text_field_tag "edit_answer_text_#{a.id}", a.answer_text, class: "question-answer", onkeyup: "Admin.checkAnwserAny(this, '#{a.answer_text}');" %>
                            <% end %>
                            <div class="original-input-text original-answer"><strong>Pôvodná odpoveď:</strong> <%= a.answer_text %> (<a href="#" onclick="$('#edit_answer_text_<%= a.id %>').val('<%= a.answer_text %>').trigger('keyup');return false">obnoviť</a>)</div>
                          </td>
                          <% unless a.learning_object.type == "EvaluatorQuestion" %><td class="answers-table-icon"><%= check_box_tag("correct_answer_#{a.id}", 1, a.is_correct) %></td><% end %>
                          <td class="answers-table-icon"><%= link_to( (button_tag '<i class="icon-delete"></i>'.html_safe, type: 'button' ), url_for(delete_answer_path(:answer_id => a.id)), :method => :post ) %></td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>

                  <%= submit_tag "Uložiť zmeny", class: :btn, data: { disable_with: "prebieha ukladanie..." } %>
                  <%= button_tag "Zrušiť zmeny", class: :btn, type: :reset %>

                </div>

            <% end %>

          </div>
          <div class="col-lg-4" id="answer-feedback-col">
            <div id="feedback-widget" class="content-widget">

                <h3>Nová spätná väzba</h3>

                <ul class="mini-list">
                </ul>

            </div>
          </div>

        </div>

        <%= form_tag "#{url_for(add_answer_path(question_id: @question.id))}#answer-settings", :method => 'post' do %>
          <div class="admin">
              <h3>Pridanie novej odpovede</h3> <br/>
              <%= label_tag "Zadaj nový text odpovede:" %>
              <%= text_field_tag :add_answer_text, nil, placeholder: "Text odpovede" %>
              <table class="edit_question_table"><tr> <th>Správna odpoveď:</th> <td><%= check_box_tag :correct_answer %></td> </tr></table>
              <%= submit_tag "Pridaj" %>
          </div>
        <% end %>

      </div>

      <div role="tabpanel" class="tab-pane" id="feedbacks">

        <div class="admin">

          <% if @feedbacks[:all].size > 0 %>
            <ul class="simple-list">
              <% @feedbacks[:all].each do |feedback| %>
                  <li class="list-item">
                    <div class="content"><%= feedback.message %></div>
                    <div class="meta">
                      &nbsp;&nbsp;&bull;&nbsp;&nbsp;<%= "#{feedback.user.first_name} #{feedback.user.last_name}" %>
                      &nbsp;&nbsp;&bull;&nbsp;&nbsp;<%= feedback.created_at.strftime("%d.%m.%Y %H:%M:%S") %></div>
                  </li>
              <% end %>
            </ul>
          <% else %>
            Ľutujeme, ale študenti ešte nezaslali pre túto otázku žiadnu spätnú väzbu.
          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>

<script type="text/javascript">
  $(function(){

    var tabs = $('#editor-tabs').find('a');
    tabs.click(function (e) {
      set_tab(tabs, $(this));
      e.preventDefault();
      e.stopImmediatePropagation();
    });

    if (location.hash.length > 0) {
      set_tab(tabs, tabs.filter('[data-target="'+location.hash+'"]'));
    }

    Admin.fetchFeedback(<%= @question.id %>);
    setInterval(function(){
      Admin.fetchFeedback(<%= @question.id %>);
    }, 30000);

  });

  function set_tab(tabs, tab) {

    var firstTab = tabs.first();

    if (history.pushState) {
      history.pushState(null, null, $(tab).attr('data-target'));
    }
    else {
      location.hash = $(tab).attr('data-target');
    }

    $(tab).tab('show');
    if ($(tab).attr('id') == firstTab.attr('id')) {
      $('#editor-tabs-content').addClass('is-first');
    }
    else {
      $('#editor-tabs-content').removeClass('is-first');
    }

  }
</script>

<%# Sablona pre polozku feedback widgetu (doT.js). %>
<div id="feedback-widget-template" style="display: none">
  <li class="list-item" id="feedback{{=it.id}}">
    <div class="content">{{=it.message}}</div>
    <div class="tools">
      <%= link_to "Akceptovať", mark_feedback_accepted_path('FEEDBACK_ID'), remote: true, method: :patch %>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <%= link_to "Zamietnuť", mark_feedback_rejected_path('FEEDBACK_ID'), remote: true, method: :patch %>
      &nbsp;&nbsp;&bull;&nbsp;&nbsp;
      <%= link_to "Skryť", mark_feedback_hidden_path('FEEDBACK_ID'), remote: true, method: :patch,
                  title: 'Skryť komentár zo stránky otázky',
                  data: { toggle: "tooltip" } %>
    </div>
    <div class="meta">{{it.fullname}}, {{it.time}}</div>
  </li>
</div>