<nav>
  <div class="admin-nav">
    <h2><%= @question.id %> : <%= @question.lo_id %></h2>
    <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="admin">

  <%= form_tag url_for(edit_question_path(:question_id => @question.id)), :method => :post do %>

      <h3>Úprava otázky</h3> <br/>

      <%= label_tag "Zadaj nový názov otázky:" %>
      <%= text_field_tag :edit_question_name, nil, class: "question_text_field", placeholder: @question.lo_id %>
      <hr/>
      <%= label_tag "Zadaj nový text otázky:" %>
      <%= text_field_tag :edit_question_text, nil, class: "question_text_field", placeholder: @question.question_text %>

      <h3>Úprava odpovedí</h3> <br/>

      <% @question.answers.each do |a|%>
          <%= label_tag "Zadaj nový text odpovede (#{a.id}):" %>
          <% if a.is_correct %>
              <% checked = true %>
          <% else %>
              <% checked = false %>
          <% end %>
          <%= text_field_tag "edit_answer_text_#{a.id}", nil, class: "question_text_field", placeholder: a.answer_text %>
          <% if a.learning_object.type != "EvaluatorQuestion" %>
              <table class="edit_question_table"><tr> <th>Správna odpoveď:</th> <td><%= check_box_tag "correct_answer_#{a.id}", 1, checked %></td> </tr></table>
          <% end %>
          <table class="edit_question_table">
            <tr>
              <td><%= "Odstráň odpoveď (#{a.id}):" %></td>
              <td><%= link_to( (button_tag '<i class="icon-delete"></i>'.html_safe, type: 'button' ), url_for(delete_answer_path(:answer_id => a.id)), :method => :post ) %></td>
            </tr>
          </table>
          <hr/>
      <% end %>
      <%= submit_tag "Potvrď" %>
  <% end %>
</div>

<div class="admin">
  <%= form_tag url_for(add_answer_path(:question_id => @question.id)), :method => 'post' do %>
      <h3>Pridanie novej odpovede</h3> <br/>
      <%= label_tag "Zadaj nový text odpovede:" %>
      <%= text_field_tag :add_answer_text, nil, placeholder: "Text odpovede" %>
      <table class="edit_question_table"><tr> <th>Správna odpoveď:</th> <td><%= check_box_tag :correct_answer %></td> </tr></table>
      <%= submit_tag "Pridaj" %>
      </table>
  <% end %>
</div>