<nav>
  <div class="admin-nav">
    <h2><%= @question.id %> : <%= @question.lo_id %></h2>
    <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="container">

  <div class="tabs">

    <ul id="editor-tabs" class="tablist" role="tablist">
      <li class="active"><a href="#question-settings" role="tab" id="question-tab" data-toggle="tab">Nastavenia otázky</a></li>
      <li><a href="#answer-settings" role="tab" id="answer-tab" data-toggle="tab">Odpovede</a></li>
      <li><a href="#feedbacks" role="tab" id="feedback-tab" data-toggle="tab">Spätná väzba (<%= @feedbacks.count %>)</a></li>
    </ul>

    <div id="editor-tabs-content" class="tab-content is-first">

      <div role="tabpanel" class="tab-pane active" id="question-settings">

        <%= form_tag url_for(edit_question_path(:question_id => @question.id)), :method => :post do %>

            <div class="admin">

              <h3>Úprava otázky</h3> <br/>

              <%= label_tag "Názov otázky:" %>
              <%= text_field_tag :edit_question_name, @question.lo_id, class: "question_text_field", onkeyup: "Admin.checkAnwserAny(this, '#{@question.lo_id}');" %>
              <div class="original-input-text"><strong>Pôvodná odpoveď:</strong> <%= @question.lo_id %> (<a href="#" onclick="$('#edit_question_name').val('<%= @question.lo_id %>').trigger('keyup');return false">obnoviť</a>)</div>
              <hr/>
              <%= label_tag "Text otázky:" %>
              <%= text_field_tag :edit_question_text, @question.question_text, class: "question_text_field", onkeyup: "Admin.checkAnwserAny(this, '#{@question.question_text}');" %>
              <div class="original-input-text"><strong>Pôvodná odpoveď:</strong> <%= @question.question_text %> (<a href="#" onclick="$('#edit_question_text').val('<%= @question.question_text %>').trigger('keyup');return false">obnoviť</a>)</div>

              <%= submit_tag "Uložiť zmeny", class: :btn, data: { disable_with: "prebieha ukladanie..." } %>
              <%= button_tag "Zrušiť zmeny", class: :btn, type: :reset %>

            </div>

        <% end %>

      </div>

      <div role="tabpanel" class="tab-pane" id="answer-settings">

        <%= form_tag url_for(edit_question_path(:question_id => @question.id)), :method => :post do %>

            <div class="admin">

              <h3>Úprava odpovedí</h3>

              <table class="answers-table">
                <thead>
                <tr>
                  <th class="answers-table-id">ID</th>
                  <th>Text odpovede</th>
                  <% unless @question.type == "EvaluatorQuestion" %><th class="answers-table-icon">Správnosť</th><% end %>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <% @question.answers.order('answers.id').each do |a|%>
                    <tr>
                      <td class="answers-table-id"><%= a.id %></td>
                      <td>
                        <% if a.learning_object.type == "EvaluatorQuestion" %>
                            <%= text_area_tag "edit_answer_text_#{a.id}", a.answer_text, class: "question-answer-area", onkeyup: "Admin.checkAnwserAny(this, '#{a.answer_text}');" %>
                        <% else %>
                            <%= text_field_tag "edit_answer_text_#{a.id}", a.answer_text, class: "question-answer", onkeyup: "Admin.checkAnwserAny(this, '#{a.answer_text}');" %>
                        <% end %>
                        <div class="original-input-text original-answer"><strong>Pôvodná odpoveď:</strong> <%= a.answer_text %> (<a href="#" onclick="$('#edit_answer_text_<%= a.id %>').val('<%= a.answer_text %>').trigger('keyup');return false">obnoviť</a>)</div>
                      </td>
                      <% unless a.learning_object.type == "EvaluatorQuestion" %><td class="answers-table-icon"><%= check_box_tag("correct_answer_#{a.id}", 1, a.is_correct) %></td><% end %>
                      <td class="answers-table-icon"><%= link_to( (button_tag '<i class="icon-delete"></i>'.html_safe, type: 'button' ), url_for(delete_answer_path(:answer_id => a.id)), :method => :post ) %></td>
                    </tr>
                <% end %>
                </tbody>
              </table>

              <%= submit_tag "Uložiť zmeny", class: :btn, data: { disable_with: "prebieha ukladanie..." } %>
              <%= button_tag "Zrušiť zmeny", class: :btn, type: :reset %>

            </div>

            <div class="admin">
              <%= form_tag url_for(add_answer_path(:question_id => @question.id)), :method => 'post' do %>
                  <h3>Pridanie novej odpovede</h3> <br/>
                  <%= label_tag "Zadaj nový text odpovede:" %>
                  <%= text_field_tag :add_answer_text, nil, placeholder: "Text odpovede" %>
                  <table class="edit_question_table"><tr> <th>Správna odpoveď:</th> <td><%= check_box_tag :correct_answer %></td> </tr></table>
                  <%= submit_tag "Pridaj" %>
              <% end %>
            </div>

        <% end %>

      </div>

      <div role="tabpanel" class="tab-pane" id="feedbacks">

        <div class="admin">

          <% if @feedbacks.size > 0 %>
            <ul class="simple-list">
              <% @feedbacks.each do |feedback| %>
                  <li class="list-item">
                    <div class="content"><%= feedback.message %></div>
                    <div class="meta"><%= "#{feedback.user.first_name} #{feedback.user.last_name}" %>&nbsp;&nbsp;&bull;&nbsp;&nbsp;<%= feedback.created_at.strftime("%d.%m.%Y %H:%M:%S") %></div>
                  </li>
              <% end %>
            </ul>
          <% else %>
            Ľutujeme, ale študenti ešte nezaslali pre túto otázku žiadnu spätnú väzbu.
          <% end %>

        </div>

      </div>

    </div>

  </div>

</div>

<script type="text/javascript">
  $(function(){
    var tabs = $('#editor-tabs').find('a');
    var firstTab = tabs.first();
    tabs.click(function (e) {
      e.preventDefault();
      $(this).tab('show');
      if ($(this).attr('id') == firstTab.attr('id')) {
        $('#editor-tabs-content').addClass('is-first');
      }
      else {
        $('#editor-tabs-content').removeClass('is-first');
      }
    })
  });
</script>