<nav>
  <div class="admin-nav">
    <h2>Administrácia</h2>
    <%= link_to((fa_icon('home') + t('homescreen.links.home')).html_safe,
                root_path, class: 'admin-nav-button') %>
  </div>
</nav>
<hr class="nav-offset">

<div class="admin">
  <h3>Nastavenia setupov</h3>
  <ul>
  <% @setups.each do |s| %>
    <li><%= link_to s.name, setup_config_path(s.id), class: "admin-link", id: "setup#{s.id}" %></li>
  <% end %>
  </ul>
</div>

<div class="admin">
  <h3>Nastavenia kurzov</h3>
  <ul class="courses-list">
    <% @courses.each do |c| %>
        <li>
          <%= link_to c.name, question_concept_config_path(c.id), class: "admin-link", id: "concept#{c.id}" %>
          <div class="links">
            <%= link_to 'zmeniť mapovanie konceptov', question_concept_config_path(c.id) %>
            &nbsp;&nbsp;&bull;&nbsp;&nbsp;
            <%= link_to 'upraviť koncepty', admin_concepts_path(course: c) %>
          </div>
        </li>
    <% end %>
  </ul>
</div>

<div class="admin">
  <h3>Správa obsahu otázok</h3>
  <ul>
    <% @courses.each do |c| %>
        <li><%= link_to c.name, admin_learning_objects_path(course: c.id), class: "admin-link", id: "learning-objects#{c.id}" %></li>
    <% end %>
  </ul>
</div>