<nav>
  <div class="admin-nav">
    <h2>Správa obsahu otázok</h2>
    <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<%= render 'administrations/feedbacks_banner', feedbacks_new_count: @feedbacks[:new_count], course: @course, lite: false %>

<div id="questions-list" class="admin">
  <% @questions.each do |q| %>
  <div class="question row<%= ' without-feedback' unless @feedbacks[:new_aggs].has_key?(q.id) && @feedbacks[:new_aggs][q.id] > 0 %>">
    <div class="question-tools">
      <% if @feedbacks[:new_aggs].has_key?(q.id) && @feedbacks[:new_aggs][q.id] > 0 %>
          <%= link_to("#{@feedbacks[:new_aggs][q.id]} / #{@feedbacks[:all_aggs][q.id]}", "#{edit_question_config_path(:question_id => q.id)}#feedbacks",
          class: 'counter highlighted', title: 'Nové komentáre', data: { toggle: :tooltip }) %>
      <% else %>
          <%= link_to(@feedbacks[:all_aggs][q.id] || 0, "#{edit_question_config_path(:question_id => q.id)}#feedbacks",
          class: 'counter',title: 'Žiadne nové komentáre', data: { toggle: :tooltip }) %>
      <% end %>
      <%= link_to('<i class="icon-edit"></i>'.html_safe, edit_question_config_path(:question_id => q.id)) %>
    </div>
    <div class="question-icon"><i data-toggle="tooltip" title="<%=
      case q.type
        when "SingleChoiceQuestion"
          'výber z jednej možnosti'
        when "MultiChoiceQuestion"
          'výber z viacerých možností'
        when "EvaluatorQuestion"
          'evaluator'
      end %>" class="icon-<%=
      case q.type
        when "SingleChoiceQuestion"
          'radio-checked'
        when "MultiChoiceQuestion"
          'checkbox-checked'
        when "EvaluatorQuestion"
          'sliders'
      end %>"></i></div>
    <div class="question-headline">
      <div class="title"><%= link_to(q.lo_id, edit_question_config_path(:question_id => q.id)) %></div>
      <div class="text"><%= q.question_text %></div>
      <div class="answers">
        <% q.answers.each_with_index do |a, i| %>
          <% if a.is_correct %><span class="correct"><%= a.answer_text %></span><% else %><%= a.answer_text %><% end %><%= ', ' unless q.answers.size == (i+1) %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
