<nav>
  <div class="admin-nav">
    <h2><%= @course.name %></h2>
    <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="admin wide">
  <table id="question-concept-table">
    <% @questions.each do |q| %>
        <tr>
            <td style="width: 40%;">
              <div class="question-concept-table-cell">
                <i class="icon-<%=
                case q.type
                when "SingleChoiceQuestion"
                'radio-checked'
                when "MultiChoiceQuestion"
                'checkbox-checked'
                when "EvaluatorQuestion"
                'sliders'
                end %>"></i>
                  <strong><%= q.lo_id %></strong>
                  <%= q.question_text %>
                  <span class="question-concept-table-answers">
                  <% q.answers.each do |a|
                    if a.is_correct %>
                        <strong>"<%= a.answer_text %>",</strong>
                    <% else %>
                        "<%= a.answer_text %>",
                    <% end %>
                  <% end %>
                </span>
              </div>
            </td>
            <td class="concept-list" data-question-id="<%= q.id %>">
              <% q.concepts.each do |c| %>
                  <%= render partial: 'concept', locals: {concept: c, question: q} %>
              <% end %>
            </td>
            <td nowrap>
              <%= text_field_tag "a", nil, placeholder: 'Pridať koncept', class: 'concept-autocomplete', data: { question_id: q.id } %>
              <%= button_tag '<i class="icon-add"></i>'.html_safe, type: 'button', class: 'concept-add', data: { question_id: q.id } %>
            </td>
        </tr>
    <% end %>
  </table>
</div>

