<nav>
  <div class="admin-nav">
    <h2>Administr치cia konceptov ot치ziek</h2>
    <%= link_to "Administr치cia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="admin wide">
  <table id="question-concept-table">
    <% @questions.each do |q| %>
        <tr>
            <td style="width: 40%;">
              <div class="question-concept-table-cell">
                  <strong><%=q.lo_id %></strong>
                  <%=q.question_text %>
                  <span class="question-concept-table-answers">
                  <% q.answers.each do |a| %>
                      "<%= a.answer_text %>",
                  <% end %>
                </span>
              </div>
            </td>
            <td>
              <% q.concepts.each do |c| %>
                  <%= render partial: 'concept', locals: {concept: c, question: q} %>
              <% end %>
            </td>
            <td nowrap>
              <%= text_field_tag "a", nil, placeholder: 'Prida콘 koncept', class: 'concept-autocomplete', data: { question_id: q.id } %>
              <%= button_tag '<i class="icon-edit"></i>'.html_safe, type: 'button', class: 'concept-add', data: { question_id: q.id } %>
            </td>
        </tr>
    <% end %>
  </table>

</div>


<script>
  $('.question-concept-table-cell').click(function() {
     $(this).toggleClass('show');
  });

  $('.concept-delete').click(function() {
      $.ajax({
          url: '/admin/delete_question_concept',
          method: 'POST',
          data: {
              question_id: $(this).data('question-id'),
              concept_id: $(this).data('concept-id')
          }
      });
  });

  $( ".concept-autocomplete" ).autocomplete({
      source: gon.concepts
  });

</script>

