<nav>
  <div class="admin-nav">
    <h2>Správa obsahu otázok</h2>
    <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
  </div>
</nav>
<hr class="nav-offset">

<div class="admin">
  <table id="question-concept-table">
    <% @questions.each do |q| %>
        <tr>
          <td style="width: 100%;">
            <div class="question-concept-table-cell">
              <div>
                <i title="<%=
                case q.type
                  when "SingleChoiceQuestion"
                    'výber z jednej možnosti'
                  when "MultiChoiceQuestion"
                    'výber z viacerých možností'
                  when "EvaluatorQuestion"
                    'evaluator'
                end %>" class="icon-<%=
                  case q.type
                    when "SingleChoiceQuestion"
                      'radio-checked'
                    when "MultiChoiceQuestion"
                      'checkbox-checked'
                    when "EvaluatorQuestion"
                      'sliders'
                  end %>"></i>
                <strong><%= q.lo_id %></strong>
              </div>
              <div class="question-title">
                <%= q.question_text %>
                <span class="question-concept-table-answers">
                    <% q.answers.each do |a|
                      if a.is_correct %>
                          <strong>"<%= a.answer_text %>",</strong>
                      <% else %>
                          "<%= a.answer_text %>",
                      <% end %>
                    <% end %>
                  </span>
              </div>
            </div>
          </td>
          <td>
            <%= link_to( (button_tag '<i class="icon-edit"></i>'.html_safe, type: 'button' ), url_for(edit_question_config_path(:question_id => q.id)) ) %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
