<nav>
   <div class="admin-nav">
    <h2><%= @setup.name %></h2>
     <%= link_to "Administrácia", administration_path, class: 'admin-nav-button' %>
   </div>
</nav>
<hr class="nav-offset">

<div class="admin">
  <h3>Základné nastavenia</h3>
  <%= form_for @setup, url: url_for(setup_attributes_path), html: {method: 'post'} do |s| %>
    <table>
    <tr><th>Počet týždňov:</th><td><%= s.text_field :week_count %></td></tr>
    <tr><th>Začiatok kurzu:</th><td><%= date_select :setup, :first_week_at %></td></tr>
    <tr><th>Zobrazovať všetky týždne:   </th><td><%= s.check_box :show_all %></td></tr>
    </table>
    <%= s.submit "Uložiť" %>
  <% end %>
</div>
<div class="admin">
  <h3>Nastavenia konceptov</h3>
  <%= form_tag url_for(setup_relations_path), html: {method: 'post'} do %>
  <table id="setup-relations-table">
    <tr>
      <th>Názov konceptu</th>
      <% @weeks.each do |w| %>
          <th>
            <%= w.number %>
          </th>
      <% end %>
    </tr>
    <% @concepts.each do |c| %>
      <tr>
      <td>
        <%= c.name %> (<%= c.question_count %>)
      </td>
      <% @weeks.each do |w| %>
          <td>
            <%= check_box_tag "relations[#{c.id}][#{w.id}]", "1", (w.id.in? c.weeks.map(&:id)) %>
          </td>
      <% end %>
      </tr>
    <% end %>
    <tr>
      <th>Počet otázok</th>
      <% @weeks.each do |w| %>
          <td>
            <%= w.question_count %>
          </td>
      <% end %>
    </tr>
  </table>
  <%= submit_tag "Uložiť" %>
  <% end %>
</div>

<script>
  $('#setup-relations-table td').click(function() {
      var i = $(this).find('input');
      if(i.is(':checked')) {
          i.prop( "checked", false );
      } else {
          i.prop( "checked", true );
      }
  });
</script>

