<nav>
   <div class="admin-nav">
    <h2><%= @setup.name %></h2>
     <%= link_to((fa_icon('user-secret') + t('homescreen.links.admin')).html_safe,
                 administration_path, class: 'admin-nav-button') %>
   </div>
</nav>
<hr class="nav-offset">

<div class="admin">
  <h3>Aktivita študentov - Štatistiky</h3>
  <ul><%= link_to "#{@setup.name} Štatistiky aktivity študentov", download_statistics_path(:_setup_id => @setup.id), class: "admin-link" %></ul>
</div>
<div class="admin">
  <h3>Základné nastavenia</h3>
  <%= form_for @setup, url: url_for(setup_attributes_path), html: {method: 'post'} do |s| %>
    <table>
    <tr><th class="th-right">Počet týždňov:</th><td><%= s.text_field :week_count %></td></tr>
    <tr><th class="th-right">Začiatok kurzu:</th><td><%= date_select :setup, :first_week_at %></td></tr>
    <tr><th class="th-right">Zobrazovať všetky týždne:   </th><td><%= s.check_box :show_all %></td></tr>
    </table>
    <%= s.submit "Uložiť" %>
  <% end %>
</div>
<div class="admin">
  <h3>Nastavenia konceptov</h3>
  <%= form_tag url_for(setup_relations_path), method: 'post', id: 'concepts-form' do %>
  <table id="week-concept-table">
    <tr>
      <th>Názov konceptu</th>
      <% @weeks.each do |w| %>
          <th>
            <%= w.number %>
          </th>
      <% end %>
    </tr>
    <% @concepts.each do |c| %>
      <tr>
      <td>
        <%= c.name %> (<%= c.question_count %>)
      </td>
      <% @weeks.each do |w| %>
          <td <%= if w.actual?; 'class="active"'.html_safe; end %>>
            <%= check_box_tag "relations[#{c.id}][#{w.id}]", "1", (w.id.in? c.weeks.map(&:id)), class: "week-concept", 'data-week' => w.id %>
          </td>
      <% end %>
      </tr>
    <% end %>
    <tr>
      <th>Počet otázok</th>
      <% @weeks.each do |w| %>
          <td>
            <%= w.question_count %>
          </td>
      <% end %>
    </tr>
    <tr>
      <th>Nastaviť všetky</th>
      <% @weeks.each do |w| %>
          <td>
            <%= check_box_tag "switch_all", nil, false, class: "switch-all", 'data-week' => w.id %>
          </td>
      <% end %>
    </tr>
  </table>
  <%= submit_tag t('global.links.save_changes') %>
  <% end %>
</div>

