<div class="admin">
  <%= @setup.name %><br>
  <%= form_for @setup, url: url_for(setup_attributes_path), html: {method: 'post'} do |s| %>
    <%= s.text_field :week_count %>
    <%= date_select :setup, :first_week_at %>
    <%= s.submit "Odoslať" %>
  <% end %>

  <%= form_tag url_for(setup_relations_path), html: {method: 'post'} do %>
  <table>
    <tr>
      <th>Názov konceptu</th>
      <% (1..@setup.week_count).each do |w| %>
          <th>
            <%= w %>
          </th>
      <% end %>
    </tr>
    <% @concepts.each do |c| %>
      <tr>
      <td>
        <%= c.name %>
      </td>
      <% (1..@setup.week_count).each do |w| %>
          <td>
            <%= check_box_tag "relations[#{c.id}][#{w}]", "1", (w.in? c.weeks.map(&:number)) %>
          </td>
      <% end %>
      </tr>
    <% end %>
  </table>
  <%= submit_tag "Odoslať" %>
  <% end %>
</div>

