<!DOCTYPE html>
<html>
<head>
  <title>Alef</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#d64541">
  <%= favicon_link_tag("favicon.ico") %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="body-<%= controller_name %>-<%= action_name %>">
<div id="gonvariables">
<%= include_gon(:init => true) %>
</div>

<% if notice %>
  <div class="alert">
    <div class="success message">
      <%= notice %>
    </div>
  </div>
<% end %>
<% if alert %>
    <div class="alert">
      <div class="danger message">
        <%= alert %>
      </div>
    </div>
<% end %>

<%= yield %>

</body>
</html>
